body{
	padding: 3em 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #333;
	background-image: url("img/congruent_pentagon.png");
}

/* template */
.container{
	width: 880px;
	margin: auto;
	background-color: #fff;
}

.header{
	padding: 20px;
	padding-bottom: 10px;
	background-color: lightgreen;
}

.header h1{
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;
}

.hero{
	height: 140px;
	background-size: cover;
	background-position: 0 -640px;
	border-bottom: 5px solid lightskyblue;
	border-top: 5px solid salmon;
}

.content{
	padding: 20px;
}

.content a{
	text-decoration: none;
	color: salmon;
}

.content h2{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.footer{
	background-color: #333;
	padding: 10px;
}

.footer p{
	color: #eaeaea;
	text-align: center;
	font-size: 13px;
}

/* Navigation */
.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover{
	background-color: red;
}

body{
	background: #F2F2F2;
	font-family: sans-serif;
}
 
.kalkulator{
	width: 335px;
	background: #2F495A;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #D1D1D1;
}
 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	background: #EC5159;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;
}
 
.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}
 
.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}
